Flask==1.1.2
gast==0.3.3
google-auth==1.16.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.0
gunicorn==20.1.0
h5py==2.10.0
idna==2.8
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
Markdown==3.2.2
MarkupSafe==1.1.1
numpy==1.18.4
Pillow==8.0.1
tensorflow==2.3.1
tensorflow-estimator==2.3.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
